.container {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.visualizeContainer {
	margin: 0 auto 0 auto;
	width: 1150px;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.arrayBar {
	width: 200px;
	margin: auto 1px 0 1px;
	transition: height 0.1s;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.arrayBar > span {
	background-color: inherit;
	margin-bottom: 5px;
	color: #fff;
	font-weight: 400;
}

.button {
	display: inline-block;
	margin: 0;
	padding: 0.5rem 0.8rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #1fa3ec;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	cursor: pointer;
	width: 8rem;
	height: 3rem;
}

.button:hover {
	opacity: 0.85;
}

.footer {
	width: 100%;
	background-color: #444;
	height: 25vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.header {
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header > h2 {
	display: block;
	font-weight: lighter;
	color: #1fa3ec;
	/* margin: 15px auto 20px auto; */
}

.slider-container {
	height: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: inherit;
}

label {
	color: #fff;
	background-color: inherit;
	font-weight: bold;
}
